<a href="https://colab.research.google.com/github/davidf22/Inventoryanalysis1/blob/main/redistribute.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df2 = pd.read_csv("products.csv", on_bad_lines='skip')

In [ ]:
df2 = pd.read_csv('products.csv', sep=';', quotechar='"')

In [ ]:
print("\nData types in the DataFrame:")
print(df2.dtypes)

Data types in the DataFrame:
productCode            object
productName            object
productLine            object
productScale           object
productVendor          object
productDescription     object
quantityInStock         int64
warehouseCode          object
buyPrice              float64
MSRP                  float64
dtype: object

In [ ]:
print("First 5 Rows:")
print(df2.head(), "\n")

print(" Data Info:")
print(df2.info(), "\n")

print(" Statistical Summary:")
print(df2.describe(), "\n")

First 5 Rows:
  productCode                            productName   productLine  \
0    S10_1678  1969 Harley Davidson Ultimate Chopper   Motorcycles
1    S10_1949               1952 Alpine Renault 1300  Classic Cars
2    S10_2016                  1996 Moto Guzzi 1100i   Motorcycles
3    S10_4698   2003 Harley-Davidson Eagle Drag Bike   Motorcycles
4    S10_4757                    1972 Alfa Romeo GTA  Classic Cars

  productScale             productVendor  \
0         1:10           Min Lin Diecast
1         1:10   Classic Metal Creations
2         1:10  Highway 66 Mini Classics
3         1:10         Red Start Diecast
4         1:10   Motor City Art Classics

                                  productDescription  quantityInStock  \
0  This replica features working kickstand, front...             7933
1  Turnable front wheels; steering function; deta...             7305
2  Official Moto Guzzi logos and insignias, saddl...             6625
3  Model features, official Harley Davidson logos...             5582
4  Features include: Turnable front wheels; steer...             3252

  warehouseCode  buyPrice    MSRP
0             a     48.81   95.70
1             b     98.58  214.30
2             a     68.99  118.94
3             a     91.02  193.66
4             b     85.68  136.00

 Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   productCode         84 non-null     object
 1   productName         84 non-null     object
 2   productLine         84 non-null     object
 3   productScale        84 non-null     object
 4   productVendor       84 non-null     object
 5   productDescription  84 non-null     object
 6   quantityInStock     84 non-null     int64
 7   warehouseCode       84 non-null     object
 8   buyPrice            84 non-null     float64
 9   MSRP                84 non-null     float64
dtypes: float64(2), int64(1), object(7)
memory usage: 6.7+ KB
None

 Statistical Summary:
       quantityInStock    buyPrice        MSRP
count        84.000000   84.000000   84.000000
mean       5358.166667   57.829048  106.857857
std        2794.364914   23.053850   41.719888
min          15.000000   15.910000   33.190000
25%        2824.250000   37.047500   73.230000
50%        5802.500000   58.405000  105.295000
75%        7767.000000   73.832500  136.610000
max        9997.000000  103.420000  214.300000

In [ ]:
# Missing data
print(df2.isnull().sum())

# Duplicates
print(df2.duplicated().sum())

productCode           0
productName           0
productLine           0
productScale          0
productVendor         0
productDescription    0
quantityInStock       0
warehouseCode         0
buyPrice              0
MSRP                  0
dtype: int64
0

In [ ]:
print(df2.columns)

Index(['productCode', 'productName', 'productLine', 'productScale',
       'productVendor', 'productDescription', 'quantityInStock',
       'warehouseCode', 'buyPrice', 'MSRP'],
      dtype='object')

In [ ]:
total_products = df2["productCode"].nunique()
low_stock = df2[df2["quantityInStock"] < 2824]
most_stocked = df2.sort_values(by="quantityInStock", ascending=False).head(10)

In [ ]:
print("Total unique products:", total_products)
print("\nProducts with low stock (less than 2824):")
print(low_stock)


print("\nTop 10 most stocked products:")
print(most_stocked)

Total unique products: 84

Products with low stock (less than 2824):
   productCode                              productName       productLine  \
6     S12_1099                        1968 Ford Mustang      Classic Cars
8     S12_1666                           1958 Setra Bus  Trucks and Buses
12    S12_3891                         1969 Ford Falcon      Classic Cars
16    S18_1097                   1940 Ford Pickup Truck  Trucks and Buses
22    S18_1749                 1917 Grand Touring Sedan      Vintage Cars
26    S18_2248                       1911 Ford Town Car      Vintage Cars
29    S18_2432                    1926 Ford Fire Engine  Trucks and Buses
30    S18_2581                           P-51-D Mustang            Planes
32    S18_2795                   1928 Mercedes-Benz SSK      Vintage Cars
42    S18_3278                     1969 Dodge Super Bee      Classic Cars
47    S18_3856  1941 Chevrolet Special Deluxe Cabriolet      Vintage Cars
53    S18_4721                1957 Corvette Convertible      Classic Cars
55    S24_1046               1970 Chevy Chevelle SS 454      Classic Cars
61    S24_2000                 1960 BSA Gold Star DBD34       Motorcycles
62    S24_2011                    18th century schooner             Ships
64    S24_2300                 1962 Volkswagen Microbus  Trucks and Buses
66    S24_2766                       1949 Jaguar XK 120      Classic Cars
67    S24_2840      1958 Chevy Corvette Limited Edition      Classic Cars
69    S24_2887                        1952 Citroen-15CV      Classic Cars
79    S24_3969         1936 Mercedes Benz 500k Roadster      Vintage Cars
82    S24_4278                  1900s Vintage Tri-Plane            Planes

   productScale              productVendor  \
6          1:12      Autoart Studio Design
8          1:12  Welly Diecast Productions
12         1:12        Second Gear Diecast
16         1:18        Studio M Art Models
22         1:18  Welly Diecast Productions
26         1:18    Motor City Art Classics
29         1:18   Carousel DieCast Legends
30         1:72       Gearbox Collectibles
32         1:18       Gearbox Collectibles
42         1:18            Min Lin Diecast
47         1:18              Exoto Designs
53         1:18    Classic Metal Creations
55         1:24       Unimax Art Galleries
61         1:24   Highway 66 Mini Classics
62         1:24   Carousel DieCast Legends
64         1:24      Autoart Studio Design
66         1:24    Classic Metal Creations
67         1:24   Carousel DieCast Legends
69         1:24              Exoto Designs
79         1:24          Red Start Diecast
82         1:24       Unimax Art Galleries

                                   productDescription  quantityInStock  \
6   Hood, doors and trunk all open to reveal highl...               68
8   Model features 30 windows, skylights & glare r...             1579
12  Turnable front wheels; steering function; deta...             1049
16  This model features soft rubber tires, working...             2613
22  This 1:18 scale replica of the 1917 Grand Tour...             2724
26  Features opening hood, opening doors, opening ...              540
29  Gleaming red handsome appearance. Everything i...             2018
30      Has retractable wheels and comes with a stand              992
32  This 1:18 replica features grille-mounted chro...              548
42  This replica features opening doors, superb de...             1917
47  Features opening hood, opening doors, opening ...             2378
53  1957 die cast Corvette Convertible in Roman Re...             1249
55  This model features rotating wheels, working s...             1005
61  Detailed scale replica with working suspension...               15
62  All wood with canvas sails. Many extras includ...             1898
64  This 1:18 scale die cast replica of the 1962 M...             2327
66  Precision-engineered from original Jaguar spec...             2350
67  The operating parts of this 1958 Chevy Corvett...             2542
69  Precision crafted hand-assembled 1:18 scale re...             1452
79  This model features grille-mounted chrome horn...             2081
82  Hand crafted diecast-like metal Triplane is Re...             2756

   warehouseCode  buyPrice    MSRP
6              b     95.34  194.57
8              d     77.90  136.67
12             b     83.05  173.02
16             d     58.33  116.67
22             c     86.70  170.00
26             c     33.30   60.54
29             d     24.92   60.77
30             a     49.00   84.48
32             c     72.56  168.75
42             b     49.05   80.41
47             c     64.58  105.87
53             b     69.93  148.80
55             b     49.24   73.49
61             a     37.32   76.17
62             d     82.34  122.89
64             d     61.34  127.79
66             b     47.25   90.87
67             b     15.91   35.36
69             b     72.82  117.44
79             c     21.75   41.03
82             a     36.23   72.45

Top 10 most stocked products:
   productCode                       productName   productLine productScale  \
9     S12_2823                  2002 Suzuki XREO   Motorcycles         1:12
24    S18_1984                  1995 Honda Civic  Classic Cars         1:18
75    S24_3432               2002 Chevy Corvette  Classic Cars         1:24
28    S18_2325         1932 Model A Ford J-Coupe  Vintage Cars         1:18
71    S24_3151  1912 Ford Model T Delivery Wagon  Vintage Cars         1:24
44    S18_3482             1976 Ford Gran Torino  Classic Cars         1:18
11    S12_3380                1968 Dodge Charger  Classic Cars         1:12
20    S18_1589             1965 Aston Martin DB5  Classic Cars         1:18
45    S18_3685    1948 Porsche Type 356 Roadster  Classic Cars         1:18
23    S18_1889       1948 Porsche 356-A Roadster  Classic Cars         1:18

                productVendor  \
9        Unimax Art Galleries
24            Min Lin Diecast
75       Gearbox Collectibles
28      Autoart Studio Design
71            Min Lin Diecast
44       Gearbox Collectibles
11  Welly Diecast Productions
20    Classic Metal Creations
45       Gearbox Collectibles
23       Gearbox Collectibles

                                   productDescription  quantityInStock  \
9   Official logos and insignias, saddle bags loca...             9997
24  This model features, opening hood, opening doo...             9772
75  The operating parts of this limited edition Di...             9446
28  This model features grille-mounted chrome horn...             9354
71  This model features chrome trim and grille, op...             9173
44  Highly detailed 1976 Ford Gran Torino "Starsky...             9127
11  1:12 scale model of a 1968 Dodge Charger. Hood...             9123
20  Die-cast model of the silver 1965 Aston Martin...             9042
45  This model features working front and rear sus...             8990
23  This precision die-cast replica features openi...             8826

   warehouseCode  buyPrice    MSRP
9              a     66.27  150.62
24             b     93.89  142.25
75             b     62.11  107.08
28             c     58.48  127.13
71             c     46.91   88.51
44             b     73.49  146.99
11             b     75.16  117.44
20             b     65.96  124.44
45             b     62.16  141.28
23             b     53.90   77.00

In [ ]:
# Total stock per warehouse
warehouse_stock = df2.groupby("warehouseCode")["quantityInStock"].sum()
print("Total stock per warehouse:\n", warehouse_stock)

Total stock per warehouse:
 warehouseCode
a     81500
b    212249
c    117682
d     38655
Name: quantityInStock, dtype: int64

In [ ]:
products_per_warehouse = df2.groupby("warehouseCode")["productCode"].nunique()
print("Unique products per warehouse:\n", products_per_warehouse)

Unique products per warehouse:
 warehouseCode
a    15
b    37
c    22
d    10
Name: productCode, dtype: int64

In [ ]:
# Filter items in a
w1_items = df2[df2["warehouseCode"] == "a"]

# For each product in W1, check if it exists in other warehouses
for code in w1_items["productCode"].unique():
    other_locations = df2[(df2["productCode"] == code) & (df2["warehouseCode"] != "a")]
    if other_locations.empty:
        print(f"Product {code} only exists in W1 — cannot eliminate without moving it elsewhere.")

Product S10_1678 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S10_2016 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S10_4698 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_2823 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_1662 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2581 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2625 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3782 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_1578 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_1785 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2000 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2360 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2841 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3949 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_4278 only exists in W1 — cannot eliminate without moving it elsewhere.

In [ ]:
# Filter items in W1
w2_items = df2[df2["warehouseCode"] == "b"]

# For each product in W1, check if it exists in other warehouses
for code in w2_items["productCode"].unique():
    other_locations = df2[(df2["productCode"] == code) & (df2["warehouseCode"] != "b")]
    if other_locations.empty:
        print(f"Product {code} only exists in W1 — cannot eliminate without moving it elsewhere.")

Product S10_1949 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S10_4757 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S10_4962 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_1099 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_1108 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_3148 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_3380 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_3891 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_3990 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_4675 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_1129 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_1589 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_1889 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_1984 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2238 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2870 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3232 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3233 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3278 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3482 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3685 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_4027 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_4721 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_4933 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_1046 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_1444 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_1628 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2766 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2840 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2887 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2972 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3191 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3371 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3432 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3856 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_4048 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_4620 only exists in W1 — cannot eliminate without moving it elsewhere.

In [ ]:
# Filter items in W1
w3_items = df2[df2["warehouseCode"] == "c"]

# For each product in W1, check if it exists in other warehouses
for code in w3_items["productCode"].unique():
    other_locations = df2[(df2["productCode"] == code) & (df2["warehouseCode"] != "c")]
    if other_locations.empty:
        print(f"Product {code} only exists in W1 — cannot eliminate without moving it elsewhere.")

Product S18_1342 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_1367 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_1749 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2248 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2325 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2795 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2949 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2957 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3136 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3140 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3320 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3856 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_4409 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_4522 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_4668 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_1937 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2022 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3151 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3420 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3816 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_3969 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_4258 only exists in W1 — cannot eliminate without moving it elsewhere.

In [ ]:
# Filter items in W1
w4_items = df2[df2["warehouseCode"] == "d"]

# For each product in W1, check if it exists in other warehouses
for code in w4_items["productCode"].unique():
    other_locations = df2[(df2["productCode"] == code) & (df2["warehouseCode"] != "d")]
    if other_locations.empty:
        print(f"Product {code} only exists in W1 — cannot eliminate without moving it elsewhere.")

Product S12_1666 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S12_4473 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_1097 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2319 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_2432 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3029 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_3259 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S18_4600 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2011 only exists in W1 — cannot eliminate without moving it elsewhere.
Product S24_2300 only exists in W1 — cannot eliminate without moving it elsewhere.

In [ ]:
df3 = pd.read_csv('warehouses.csv', sep=';', quotechar='"')

In [ ]:
print("First 5 Rows:")
print(df3.head(), "\n")

First 5 Rows:
  warehouseCode warehouseName  warehousePctCap
0             a         North               72
1             b          East               67
2             c          West               50
3             d         South               75

In [ ]:
warehouse_d_items = df2[df2["warehouseCode"] == "d"]
print("Total items in warehouse D:", warehouse_d_items["quantityInStock"].sum())

Total items in warehouse D: 38655

In [ ]:
# Step 2: Estimate full capacity per warehouse
df3["warehousePctCap"] = pd.to_numeric(df3["warehousePctCap"])
stock_by_warehouse = df2.groupby("warehouseCode")["quantityInStock"].sum().reset_index()

# Merge warehouse metadata and current stock
merged = pd.merge(df3, stock_by_warehouse, on="warehouseCode", how="left")

# Estimate total capacity in units:
merged["estimatedCapacityUnits"] = merged["quantityInStock"] / (merged["warehousePctCap"] / 100)

# Calculate available units in each warehouse
merged["availableUnits"] = merged["estimatedCapacityUnits"] * ((100 - merged["warehousePctCap"]) / 100)

print(merged[["warehouseCode", "warehouseName", "warehousePctCap", "quantityInStock", "availableUnits"]])

  warehouseCode warehouseName  warehousePctCap  quantityInStock  \
0             a         North               72            81500
1             b          East               67           212249
2             c          West               50           117682
3             d         South               75            38655

   availableUnits
0    31694.444444
1   104540.552239
2   117682.000000
3    12885.000000

In [ ]:
# How much inventory is in warehouse D?
qty_in_d = merged[merged["warehouseCode"] == "d"]["quantityInStock"].values[0]

# How much space is available in other warehouses?
available_in_others = merged[merged["warehouseCode"] != "d"]["availableUnits"].sum()

print("Inventory in warehouse D:", qty_in_d)
print("Total available space in other warehouses:", available_in_others)

if qty_in_d <= available_in_others:
    print("✅ Warehouse D can be eliminated.")
else:
    print("❌ Warehouse D cannot be eliminated — not enough space elsewhere.")

Inventory in warehouse D: 38655
Total available space in other warehouses: 253916.9966832504
✅ Warehouse D can be eliminated.