<a href="https://colab.research.google.com/github/davidf22/Inventoryanalysis1/blob/main/redistribute3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df2 = pd.read_csv("products.csv", on_bad_lines='skip')

In [ ]:
df2 = pd.read_csv('products.csv', sep=';', quotechar='"')

In [ ]:
df3 = pd.read_csv('orderdetails.csv', sep=';', quotechar='"')

In [ ]:
inventory_products = set(df2["productCode"])

In [ ]:
ordered_products = set(df3["productCode"])

In [ ]:
non_moving_products = inventory_products - ordered_products
print("ðŸ§Š Products in stock but never ordered:")
print(non_moving_products)

ðŸ§Š Products in stock but never ordered:
{'S18_3233'}

In [ ]:
non_moving_df = df2[df2["productCode"].isin(non_moving_products)]
print("ðŸ“¦ Idle stock quantities (never ordered):")
print(non_moving_df[["productCode", "quantityInStock"]])

ðŸ“¦ Idle stock quantities (never ordered):
   productCode  quantityInStock
40    S18_3233             7733

BREAK

In [ ]:
df7 = pd.read_csv("productlines.csv", sep=";", quotechar='"')

In [ ]:
ordered_summary = df3.groupby("productCode")["quantityOrdered"].sum().reset_index()
ordered_summary.rename(columns={"quantityOrdered": "totalOrdered"}, inplace=True)

In [ ]:
product_eval = pd.merge(df2, ordered_summary, on="productCode", how="left")
product_eval["totalOrdered"] = product_eval["totalOrdered"].fillna(0)

In [ ]:
drop_candidates = product_eval[
    (product_eval["totalOrdered"] < 1500/.) & (product_eval["quantityInStock"] > 0)
]

print("ðŸ›‘ Drop candidate products:")
print(drop_candidates[["productCode", "productLine", "quantityInStock", "totalOrdered"]])

ðŸ›‘ Drop candidate products:
   productCode   productLine  quantityInStock  totalOrdered
0     S10_1678   Motorcycles             7933        1057.0
1     S10_1949  Classic Cars             7305         961.0
2     S10_2016   Motorcycles             6625         999.0
3     S10_4698   Motorcycles             5582         985.0
4     S10_4757  Classic Cars             3252        1030.0
..         ...           ...              ...           ...
79    S24_3969  Vintage Cars             2081         824.0
80    S24_4048  Classic Cars             6582         867.0
81    S24_4258  Vintage Cars             4710         983.0
82    S24_4278        Planes             2756        1009.0
83    S24_4620  Classic Cars             7869         941.0

[83 rows x 4 columns]